<!-- start custom head snippets -->

<link rel="icon" type="image/png" href="{{ '/assets/images/logo.png' | relative_url }}">

<style>
  .visitor-map-tracker {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: -1 !important;
    width: 300px !important;
    height: 160px !important;
    overflow: hidden !important;
    opacity: 0.001 !important;
    pointer-events: none !important;
  }

  .visitor-map-tracker #mapmyvisitors-widget {
    margin: 0 !important;
  }
</style>

<!-- end custom head snippets -->
