---
layout: archive
---

{{ content }}
<!-- News Section Start -->
<h3 class="archive__subtitle">About me</h3>
<ul>
  <li>I am the second year Ph.D student at College of William & Mary</li>

  <!-- 你可以继续添加更多新闻 -->
</ul>
<!-- News Section End -->


<!-- News Section Start -->
<h3 class="archive__subtitle">News</h3>
<ul>
  <li>Mar 2025: One paper has been accepted by ISPASS 2025</li>
  <li>Mar 2025: One paper has been accepted by GPGPU 2025</li>
  <li>Jan 2024: One paper has been accepted by MOST 2024</li>
  <!-- 你可以继续添加更多新闻 -->
</ul>
<!-- News Section End -->

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %}
